body{
    background-color: black;
}
h1{
    color: bisque;
    text-align: center;
}
.container{
    box-sizing: border-box;
    width: 350px;
    height: 430px;
   background-image: url(image/kaseta-muzyka-fon-retro\ \(2\).jpg);
   margin-left: auto;
   margin-right: auto;
   border-radius: 20px;
}
#player{
    margin-top: 35px;
    margin-left: -10px;
    background-color: beige;
}
.icon{
margin-left: 120px;
font-size: larger;
width: 100px;
height: 70px;
border-radius: 35px;
box-shadow: 7px 7px;
background-color: rgb(95, 73, 17);
margin-top: 100px;
margin-bottom: 10px;
font-size: xx-large;
}
button{
    background-color: rgb(95, 73, 17);
    font-size: small;
    margin-right: 30px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}
#progress{
   -webkit-appearance: none;
   position: relative;
   left: 40px;
   width: 75%;
   height: 4px;
   margin: 15px 0;
   background: #d27b11;
   border-radius: 2px;
}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #4a494a;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 2px 2px rgba(255, 26, 26 0.22);
}

i{
    
    color: white;
    margin-left: auto;
    margin-right: auto;
}
li > i{
   animation: rotate 3s linear infinite;
    margin-left: 22px;

}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
#playlist{
    color: rgb(60, 59, 57);
    font-size: medium;
    list-style: none; 
    margin-bottom: 20px; 
}
li{
    padding-right: 5px;
    margin-bottom: 5px;
    margin-left: -8px;
    cursor: pointer;
}
#music{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px; 
    background-color: rgb(95, 73, 17);
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 0px;
    border-radius: 10px;
    box-shadow: 7px 7px;
}
#music1{
    display: flex;
    justify-content: center;
    background-color: rgb(95, 73, 17);
    margin-left: 25px;
    margin-bottom: 5px;
}
.styling{
    border: 1.5px solid white;
    padding: 2px 4px 2px;
}
